.experience-outer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 35px auto;
}

.experience-description {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--theme-grid-boxes-background);
}

.job-item {
    width: 100%;
    height: 42px;
    padding: 10px 20px;
    border-left: 3px solid rgba(255, 254, 254, 0.09);
    font-size: 16px;
    cursor: pointer;
}

.job-item:hover {
    background-color: var(--theme-grid-boxes-background);
}

.job-active {
    border-left: 3px solid var(--theme-pink);
    background-color: var(--theme-grid-boxes-background);
}

.highlight-job-text {
    color: var(--theme-pink);
}

.role-and-company {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    ;
}

.job-description ul {
    margin-top: 30px;
    list-style-type: none;
}

.job-duration {
    color: var(--font-color-secondary);
}

.job-description ul li {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

.job-description ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--theme-pink);
}