.skills-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 35px auto;
}

.skill-container {
    width: 45%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid var(--theme-pink);
    border-radius: var(--border-radius-container);
}


.skill-circle {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: var(--theme-pink);
    border-radius: 50%;
}

.skill-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--theme-pink);
}

.skill-icon img {
    width: 45px;
    height: 45px;
    background-color: var(--theme-pink);
}

.skill-name {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.skill-content-container {
    margin: 30px 0;
}

.skill-tools-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.tool-name {
    margin: 5px 3px;
    border: 1px solid var(--theme-pink);
    border-radius: 15px;
    padding: 5px 10px;
}